/* @font-face {
  font-family: 'IntegralCF-Bold';
  src: url('/fonts/IntegralCF-Bold.woff2') format('woff2'),
       url('/fonts/IntegralCF-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}  */

@tailwind base;
@tailwind components;
@tailwind utilities;
